[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
httpx = "*"
loguru = "*"
slowapi = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
respx = "*"
ruff = "*"

[requires]
python_version = "3.12"
